# To bypass YouTube bot protection, you can provide YouTube cookies.
# Either create a 'cookies.txt' file in the root directory in Netscape format
# OR set the YOUTUBE_COOKIES environment variable with the contents of the cookies.txt file.
YOUTUBE_COOKIES=
